In [16]:
import pandas as pd 
data = pd.read_csv('database/AI_social_media.csv') #https://huggingface.co/datasets/newsmediabias/Social_media_cleaned_data?row=1
data.head()

                                                text  label_bias
0  The protagonist from Grey's Anatomy, Ellen Pom...  Non-biased
1  Our rules are the most robust, the president c...      Biased
2  ...associating outsiders with danger and extre...      Biased
3  ...alarms were raised in the initial stages of...      Biased
4  [Movement for Equality] is fundamentally oppos...      Biased

In [17]:
data['origin'] = 'AI'
data['model'] = 'chat gpt'
data = data.drop(columns = ['label_bias'])
data.head()

                                                text origin     model
0  The protagonist from Grey's Anatomy, Ellen Pom...     AI  chat gpt
1  Our rules are the most robust, the president c...     AI  chat gpt
2  ...associating outsiders with danger and extre...     AI  chat gpt
3  ...alarms were raised in the initial stages of...     AI  chat gpt
4  [Movement for Equality] is fundamentally oppos...     AI  chat gpt

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3809 entries, 0 to 3808
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    3809 non-null   object
 1   origin  3809 non-null   object
 2   model   3809 non-null   object
dtypes: object(3)
memory usage: 89.4+ KB

In [19]:
dataset = pd.read_csv('database/tweetNERD.csv') #https://huggingface.co/datasets/socialmediaie/TweetNERD
dataset.head()

,tweet_id,phrase,start,end,entityId,score,full_text,part
0,1232470869324136448,['NO_PHRASE'],[-1],[-1],['NO_ENTITY'],[-1],I've been humming this song by @otherlives for...,train
1,1232471220701908992,['NO_PHRASE'],[-1],[-1],['NO_ENTITY'],[-1],@jemillerwbal Annnnd the pile grows deeper ! W...,train
2,1232486401507119104,['NO_PHRASE'],[-1],[-1],['NO_ENTITY'],[-1],You ever been so heartbroken it makes you sick...,train
3,1232491348340555776,['NO_PHRASE'],[-1],[-1],['NO_ENTITY'],[-1],"9pm, my mom is texting me memes, my dad is tex...",train
4,1232495939027271680,['NO_PHRASE'],[-1],[-1],['NO_ENTITY'],[-1],The Lenten season is upon us...see yaâ€™ll in 40...,train

In [20]:
dataset = dataset.drop(columns = ['tweet_id', 'phrase', 'start', 'end', 'entityId', 'score', 'part'])
dataset = dataset.rename(columns = {'full_text':'text'})
dataset['origin'] = 'human'
dataset['model'] = None
dataset.head()

                                                text origin model
0  I've been humming this song by @otherlives for...  human  None
1  @jemillerwbal Annnnd the pile grows deeper ! W...  human  None
2  You ever been so heartbroken it makes you sick...  human  None
3  9pm, my mom is texting me memes, my dad is tex...  human  None
4  The Lenten season is upon us...see yaâ€™ll in 40...  human  None

In [21]:
dataset = pd.concat([data, dataset], axis=0)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 211087 entries, 0 to 207277
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    211087 non-null  object
 1   origin  211087 non-null  object
 2   model   3809 non-null    object
dtypes: object(3)
memory usage: 6.4+ MB

In [22]:
lista = ['tweet_eval_stance_abortion', 'tweet_eval_offencive','tweet_eval_hate', 'tweet_eval_irony', 'tweet_eval_emotion'] # https://huggingface.co/datasets/cardiffnlp/tweet_eval/blob/main/README.md
for i in lista:
    x = pd.read_csv(f'database/{i}.csv')
    x = x.drop(columns = ['label'])
    x['origin'] = 'human'
    x['model'] = None
    dataset = pd.concat([x, dataset], axis=0)

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 238709 entries, 0 to 207277
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    238702 non-null  object
 1   origin  238709 non-null  object
 2   model   3809 non-null    object
dtypes: object(3)
memory usage: 7.3+ MB

In [24]:
dataset['origin'].value_counts()

origin
human    234900
AI         3809
Name: count, dtype: int64

In [25]:
dataset.to_csv('database/concat_df.csv', index=False)