In [165]:
import pandas as pd 
data = pd.read_parquet('database/twitter_human.parquet') # https://huggingface.co/datasets/arrmlet/twitter 

data.to_csv("database/twitter_human.csv", index=False)

In [166]:
df = pd.read_csv('database/concat_df.csv')
data = pd.read_csv('database/twitter_human.csv')
df.head()

                                                text origin model
0  “Worry is a down payment on a problem you may ...  human   NaN
1  My roommate: it's okay that we can't spell bec...  human   NaN
2  No but that's so cute. Atsu was probably shy a...  human   NaN
3  Rooneys fucking untouchable isn't he? Been fuc...  human   NaN
4  it's pretty depressing when u hit pan on ur fa...  human   NaN

In [167]:
data.head()

,text,label,tweet_hashtags,datetime
0,"An assessment of #NEAR, #RNDR, and #TAO’s pric...",#near,['#NEAR' '#RNDR' '#TAO' '#AI' '#token' '#Crypt...,2024-06-06
1,Could be...\n\n#Bitcoin.,#bitcoin,['#Bitcoin'],2024-18-05
2,#love #surfing #ascension #health #music #posi...,#love,['#love' '#surfing' '#ascension' '#health' '#m...,2024-27-05
3,#NationalTechnologyDay #Technology #AI #Scienc...,#nationaltechnologyday,['#NationalTechnologyDay' '#Technology' '#AI' ...,2024-12-05
4,The Obesity Treatment Program offered at Isha ...,#ishahealthsolutions,['#IshaHealthSolutions' '#YogicLifestyle' '#He...,2024-15-05

In [168]:
data['origin'] = 'human'
data['model'] = None
data.head()

,text,label,tweet_hashtags,datetime,origin,model
0,"An assessment of #NEAR, #RNDR, and #TAO’s pric...",#near,['#NEAR' '#RNDR' '#TAO' '#AI' '#token' '#Crypt...,2024-06-06,human,None
1,Could be...\n\n#Bitcoin.,#bitcoin,['#Bitcoin'],2024-18-05,human,None
2,#love #surfing #ascension #health #music #posi...,#love,['#love' '#surfing' '#ascension' '#health' '#m...,2024-27-05,human,None
3,#NationalTechnologyDay #Technology #AI #Scienc...,#nationaltechnologyday,['#NationalTechnologyDay' '#Technology' '#AI' ...,2024-12-05,human,None
4,The Obesity Treatment Program offered at Isha ...,#ishahealthsolutions,['#IshaHealthSolutions' '#YogicLifestyle' '#He...,2024-15-05,human,None

In [169]:
data = data.drop(columns = ['label', 'tweet_hashtags', 'datetime'])
data.head()

                                                text origin model
0  An assessment of #NEAR, #RNDR, and #TAO’s pric...  human  None
1                           Could be...\n\n#Bitcoin.  human  None
2  #love #surfing #ascension #health #music #posi...  human  None
3  #NationalTechnologyDay #Technology #AI #Scienc...  human  None
4  The Obesity Treatment Program offered at Isha ...  human  None

In [170]:
df = pd.concat([data, df], axis=0)
df['origin'].value_counts()

origin
human    247588
AI         3809
Name: count, dtype: int64

In [171]:
data = pd.read_csv('database/Twitter_Data.csv') # https://huggingface.co/datasets/Balasuriya/Twitter_Data
data.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [172]:
data = data.rename(columns = {'clean_text':'text'})
data['origin'] = 'human'
data['model'] = None
data = data.drop(columns = ['category'])
data.head()

                                                text origin model
0  when modi promised “minimum government maximum...  human  None
1  talk all the nonsense and continue all the dra...  human  None
2  what did just say vote for modi  welcome bjp t...  human  None
3  asking his supporters prefix chowkidar their n...  human  None
4  answer who among these the most powerful world...  human  None

In [173]:
df = pd.concat([data, df], axis=0)
df['origin'].value_counts()

origin
human    410568
AI         3809
Name: count, dtype: int64

In [174]:
df.isna().sum()

text          13
origin         0
model     410568
dtype: int64

In [175]:
df = df.dropna(subset=['text'])
df

                                                     text origin model
0       when modi promised “minimum government maximum...  human  None
1       talk all the nonsense and continue all the dra...  human  None
2       what did just say vote for modi  welcome bjp t...  human  None
3       asking his supporters prefix chowkidar their n...  human  None
4       answer who among these the most powerful world...  human  None
...                                                   ...    ...   ...
238704  Not fully on Rasul: Amos jumped that for no re...  human   NaN
238705  @hobinist I missed u too Coco!! How’ve you bee...  human   NaN
238706  That obj touchdown is why I can’t stay sold on...  human   NaN
238707  @IKE_Packers Should’ve had safety help over th...  human   NaN
238708  people forget that aria was sexually abused by...  human   NaN

[414364 rows x 3 columns]

In [176]:
df.isnull().sum()

text           0
origin         0
model     410555
dtype: int64

In [177]:
df['origin'].value_counts()

origin
human    410555
AI         3809
Name: count, dtype: int64

In [178]:
df.describe(include='all')

                                                     text  origin     model
count                                              414364  414364      3809
unique                                             413267       2         1
top     #jewish #taoism #buddhism #humor #quotes #tao ...   human  chat gpt
freq                                                   25  410555      3809

In [179]:
df.duplicated().sum()

np.int64(1097)

In [180]:
df = df.drop_duplicates()

In [181]:
#deixando com 300.000 dados de twitter human
df_human = df[df["origin"] == "human"]
df_amostra = df_human.sample(n=109458, random_state=42)

In [182]:
df_amostra

                                                     text origin model
75787                             congree dont modi just   human  None
111222  your stupid stmt will show the world that indi...  human  None
150138  @Zirksee I see why kraleo and Rg picked those ...  human   NaN
31893   @RyanAFournier They are creating chaos to brin...  human   NaN
4157       They bombarded out country  #immigration @user  human   NaN
...                                                   ...    ...   ...
53227                                          modi again  human  None
124446  .@InnerFlameLoL steps down as SK Gaming genera...  human   NaN
202671  @ladyschae It is so, so, so bad but in the mos...  human   NaN
210024  @hhjsboba SOZZ GOM SENT TOO MANY MESSAGES I DI...  human   NaN
4564    What an awesome performance by the Choral stud...  human   NaN

[109458 rows x 3 columns]

In [183]:
# Remove as linhas do df que são comuns entre df e df_amostra
df = df.merge(df_amostra, how='left', indicator=True).query('_merge == "left_only"').drop(columns=['_merge'])
df

                                                     text origin model
0       when modi promised “minimum government maximum...  human  None
1       talk all the nonsense and continue all the dra...  human  None
3       asking his supporters prefix chowkidar their n...  human  None
4       answer who among these the most powerful world...  human  None
5                kiya tho refresh maarkefir comment karo   human  None
...                                                   ...    ...   ...
413260  @bgav23 Have you seen Herberts performance som...  human   NaN
413261   not great from sul, but that is KILLER from Amos  human   NaN
413262  Not fully on Rasul: Amos jumped that for no re...  human   NaN
413263  @hobinist I missed u too Coco!! How’ve you bee...  human   NaN
413265  @IKE_Packers Should’ve had safety help over th...  human   NaN

[303809 rows x 3 columns]

In [184]:
df['origin'].value_counts()

origin
human    300000
AI         3809
Name: count, dtype: int64

In [186]:
df.to_csv('database/concat_df.csv', index=False)