In [61]:
import pandas as pd

In [62]:
df = pd.read_csv("database/concat_df.csv")
df.head()

C:\Users\t213792\AppData\Local\Temp\ipykernel_15868\2960457084.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("database/concat_df.csv")

                                                text origin model
0  when modi promised “minimum government maximum...  human   NaN
1  talk all the nonsense and continue all the dra...  human   NaN
2  asking his supporters prefix chowkidar their n...  human   NaN
3  answer who among these the most powerful world...  human   NaN
4           kiya tho refresh maarkefir comment karo   human   NaN

In [63]:
gpt = pd.read_csv("database/gpt2.csv")
gpt.head()

,#YIAYplan Use my awesome collection of Amiibos to destroy all in my path.,Unnamed: 1
0,@LightUmUpBeast never watched pres think hes o...,NaN
1,@FLChambers 'It appears our #Govt. has exhaust...,NaN
2,A look at state actions a year after Ferguson'...,NaN
3,+ Make a mental note of arrival and exit times...,NaN
4,#Boulder deputies are waiting for the bomb squ...,NaN

In [64]:
gpt.isna().sum()

#YIAYplan Use my awesome collection of Amiibos to destroy all in my path.       3
Unnamed: 1                                                                   1159
dtype: int64

In [65]:
gpt = gpt.dropna(subset=['#YIAYplan Use my awesome collection of Amiibos to destroy all in my path.'])

In [66]:
gpt.duplicated().sum()

47

In [67]:
gpt = gpt.drop_duplicates()

In [68]:
gpt['origin'] = 'AI'
gpt['model'] = 'chat gpt'
gpt = gpt.rename(columns = {'#YIAYplan Use my awesome collection of Amiibos to destroy all in my path.':'text'})
gpt = gpt.drop(columns = ['Unnamed: 1'])
gpt.head()

                                                text origin     model
0  @LightUmUpBeast never watched pres think hes o...     AI  chat gpt
1  @FLChambers 'It appears our #Govt. has exhaust...     AI  chat gpt
2  A look at state actions a year after Ferguson'...     AI  chat gpt
3  + Make a mental note of arrival and exit times...     AI  chat gpt
4  #Boulder deputies are waiting for the bomb squ...     AI  chat gpt

In [69]:
df = pd.concat([df, gpt], axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 304918 entries, 0 to 1158
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    304918 non-null  object
 1   origin  304918 non-null  object
 2   model   4918 non-null    object
dtypes: object(3)
memory usage: 9.3+ MB

In [70]:
df['origin'].value_counts()

origin
human    300000
AI         4918
Name: count, dtype: int64

In [71]:
db = [
    "climate_gpt3_10k.csv", "climate_gpt3_15k.csv", "covid_gpt3_10k.csv", "covid_gpt3_15k.csv",
    "politics_gpt3_10k.csv", "politics_gpt3_15k.csv", "science_gpt3_10k.csv",
]

# Carrega o primeiro dataset para inicializar `data`
data = pd.read_csv("database/science_gpt3_15k.csv")

# Itera sobre os demais arquivos (evita duplicar o já carregado)
for i in db:
    if i != "science_gpt3_15k.csv":
        gpt = pd.read_csv(f"database/{i}")
        data = pd.concat([data, gpt], axis=0)

data

,Unnamed: 0,Text,Synthetic
0,0,Innovative Science and Technology: How Innovat...,1
1,1,The #science is undeniable. You will feel bett...,1
2,2,You won't find a better way to learn about the...,1
3,3,World of #Science is an ongoing and growing co...,1
4,4,Django Unchained #22\n#universe #science #fant...,1
...,...,...,...
19995,19995,"When it comes to your #engineering career, hav...",1
19996,19996,"After a long journey, we are finally here. The...",1
19997,19997,The #science of #weaning is the key to a healt...,1
19998,19998,I was starting to try and make a list of my fa...,1
19999,19999,"LISTEN HERE: ""The Road to Freedom"" by @SharonC...",1

In [72]:
data['origin'] = 'AI'
data['model'] = 'chat gpt'
data = data.rename(columns = {'Text':'text'})
data = data.drop(columns = ['Unnamed: 0', 'Synthetic'])
data.head()

                                                text origin     model
0  Innovative Science and Technology: How Innovat...     AI  chat gpt
1  The #science is undeniable. You will feel bett...     AI  chat gpt
2  You won't find a better way to learn about the...     AI  chat gpt
3  World of #Science is an ongoing and growing co...     AI  chat gpt
4  Django Unchained #22\n#universe #science #fant...     AI  chat gpt

In [73]:
data.duplicated().sum()

25

In [74]:
data = data.drop_duplicates()

In [75]:
data.isna().sum()

text      0
origin    0
model     0
dtype: int64

In [76]:
df = pd.concat([df, data], axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 465393 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    465393 non-null  object
 1   origin  465393 non-null  object
 2   model   165393 non-null  object
dtypes: object(3)
memory usage: 14.2+ MB

In [77]:
df['origin'].value_counts()

origin
human    300000
AI       165393
Name: count, dtype: int64

In [78]:
#deixando com 300.000 dados de twitter human
df_gpt = df[df["origin"] == "AI"]
df_amostra = df_gpt.sample(n=65393, random_state=42)

In [79]:
df_amostra

                                                    text origin     model
9358   The EU's climate change bill is here, and it c...     AI  chat gpt
11841  The International Agency for Research on Cance...     AI  chat gpt
7922   The #Trump campaign is filing a lawsuit in Wis...     AI  chat gpt
14156  The Australian government is playing with fire...     AI  chat gpt
16625  The former #scientist and #entrepreneurial wom...     AI  chat gpt
...                                                  ...    ...       ...
11304  The #USElection2020 is not over yet.\n\n#Biden...     AI  chat gpt
13376  In a recent article, @iis_cma’s #Engineering p...     AI  chat gpt
14900  Sudan’s Omar al-Bashir was not the only U.S.-b...     AI  chat gpt
4102   In an interview with @LATEST, @KathrynSantoro ...     AI  chat gpt
968    Just 8 minute b4 tragedy another train had cro...     AI  chat gpt

[65393 rows x 3 columns]

In [80]:
# Remove as linhas do df que são comuns entre df e df_amostra
df = df.merge(df_amostra, how='left', indicator=True).query('_merge == "left_only"').drop(columns=['_merge'])
df

                                                     text origin     model
0       when modi promised “minimum government maximum...  human       NaN
1       talk all the nonsense and continue all the dra...  human       NaN
2       asking his supporters prefix chowkidar their n...  human       NaN
3       answer who among these the most powerful world...  human       NaN
4                kiya tho refresh maarkefir comment karo   human       NaN
...                                                   ...    ...       ...
465387  Two decades ago today, the first #STEM field s...     AI  chat gpt
465388  When it comes to your #engineering career, hav...     AI  chat gpt
465390  The #science of #weaning is the key to a healt...     AI  chat gpt
465391  I was starting to try and make a list of my fa...     AI  chat gpt
465392  LISTEN HERE: "The Road to Freedom" by @SharonC...     AI  chat gpt

[400000 rows x 3 columns]

In [81]:
df['origin'].value_counts()

origin
human    300000
AI       100000
Name: count, dtype: int64

In [82]:
df.to_csv('database/concat_df.csv', index=False)