In [36]:
import pandas as pd

In [37]:
dataset = pd.read_json('database/tweetNERD.json', lines=True) #https://huggingface.co/datasets/socialmediaie/TweetNERD
dataset.head()

,tweet_id,phrase,start,end,entityId,score,full_text,part
0,1232470869324136448,[NO_PHRASE],[-1],[-1],[NO_ENTITY],[-1],I've been humming this song by @otherlives for...,train
1,1232471220701908992,[NO_PHRASE],[-1],[-1],[NO_ENTITY],[-1],@jemillerwbal Annnnd the pile grows deeper ! W...,train
2,1232486401507119104,[NO_PHRASE],[-1],[-1],[NO_ENTITY],[-1],You ever been so heartbroken it makes you sick...,train
3,1232491348340555776,[NO_PHRASE],[-1],[-1],[NO_ENTITY],[-1],"9pm, my mom is texting me memes, my dad is tex...",train
4,1232495939027271680,[NO_PHRASE],[-1],[-1],[NO_ENTITY],[-1],The Lenten season is upon us...see ya’ll in 40...,train

In [38]:
dataset = dataset.drop(columns = ['tweet_id', 'phrase', 'start', 'end', 'entityId', 'score', 'part'])
dataset = dataset.rename(columns = {'full_text':'text'})
dataset['origin'] = 'human'
dataset['model'] = None
dataset.head()

                                                text origin model
0  I've been humming this song by @otherlives for...  human  None
1  @jemillerwbal Annnnd the pile grows deeper ! W...  human  None
2  You ever been so heartbroken it makes you sick...  human  None
3  9pm, my mom is texting me memes, my dad is tex...  human  None
4  The Lenten season is upon us...see ya’ll in 40...  human  None

In [39]:
lista = ['tweet_eval_irony', 'tweet_eval_emotion'] # https://huggingface.co/datasets/cardiffnlp/tweet_eval/blob/main/README.md
for i in lista:
    x = pd.read_csv(f'database/{i}.csv')
    x = x.drop(columns = ['label'])
    x['origin'] = 'human'
    x['model'] = None
    dataset = pd.concat([x, dataset], axis=0)

In [40]:
lista = ['tweet_eval_abortion', 'tweet_eval_offencive','tweet_eval_hate', 'tweet_eval_sentiment', ] # https://huggingface.co/datasets/cardiffnlp/tweet_eval/blob/main/README.md
for i in lista:
    x = pd.read_parquet(f'database/{i}.parquet')
    x = x.drop(columns = ['label'])
    x['origin'] = 'human'
    x['model'] = None
    dataset = pd.concat([x, dataset], axis=0)

In [41]:
data = pd.read_csv('database/twitter_human.csv')
data['origin'] = 'human'
data['model'] = None
data = data.drop(columns = ['label', 'tweet_hashtags', 'datetime'])
data.head()

                                                text origin model
0  An assessment of #NEAR, #RNDR, and #TAO’s pric...  human  None
1                           Could be...\n\n#Bitcoin.  human  None
2  #love #surfing #ascension #health #music #posi...  human  None
3  #NationalTechnologyDay #Technology #AI #Scienc...  human  None
4  The Obesity Treatment Program offered at Isha ...  human  None

In [42]:
dataset = pd.concat([data, dataset], axis=0)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 293203 entries, 0 to 207277
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    293201 non-null  object
 1   origin  293203 non-null  object
 2   model   0 non-null       object
dtypes: object(3)
memory usage: 8.9+ MB

In [43]:
data = pd.read_csv('database/Twitter_Data.csv') # https://huggingface.co/datasets/Balasuriya/Twitter_Data
data = data.rename(columns = {'clean_text':'text'})
data['origin'] = 'human'
data['model'] = None
data = data.drop(columns = ['category'])
data.head()

                                                text origin model
0  when modi promised “minimum government maximum...  human  None
1  talk all the nonsense and continue all the dra...  human  None
2  what did just say vote for modi  welcome bjp t...  human  None
3  asking his supporters prefix chowkidar their n...  human  None
4  answer who among these the most powerful world...  human  None

In [44]:
dataset = pd.concat([data, dataset], axis=0)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 456183 entries, 0 to 207277
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    456177 non-null  object
 1   origin  456183 non-null  object
 2   model   0 non-null       object
dtypes: object(3)
memory usage: 13.9+ MB

In [45]:
dataset.isna().sum()
dataset.duplicated().sum()

dataset = dataset.dropna(subset=['text'])
dataset = dataset.drop_duplicates()

In [29]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 455045 entries, 0 to 207277
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    455045 non-null  object
 1   origin  455045 non-null  object
 2   model   0 non-null       object
dtypes: object(3)
memory usage: 13.9+ MB

In [46]:
data = pd.read_csv('database/sentiment140.csv', encoding='ISO-8859-1')
data = data.rename(columns = {"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D" :"text"})
data['origin'] = 'human'
data['model'] = None
data = data.drop(columns = ['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY','_TheSpecialOne_'])
data.head()

                                                text origin model
0  is upset that he can't update his Facebook by ...  human  None
1  @Kenichan I dived many times for the ball. Man...  human  None
2    my whole body feels itchy and like its on fire   human  None
3  @nationwideclass no, it's not behaving at all....  human  None
4                      @Kwesidei not the whole crew   human  None

In [47]:
data.isna().sum()
data.duplicated().sum()

data = data.dropna(subset=['text'])
data = data.drop_duplicates()

In [48]:
#separando 44955 para completar os 500.000
df_amostra = data.sample(n=44955, random_state=42)

In [49]:
dataset = pd.concat([df_amostra, dataset], axis=0)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500000 entries, 1567348 to 207277
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    500000 non-null  object
 1   origin  500000 non-null  object
 2   model   0 non-null       object
dtypes: object(3)
memory usage: 15.3+ MB

In [52]:
dataset.to_csv('df_pronto/df_human.csv', index=False)